.App {
  height: 100vh;
  width: 100vw;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 7px 14px;
}
.rankcontainer {
  height: 25vh;
  width: 25vh;
}
.rankscroll {
  height: 25vh;
  overflow: scroll;
}
